body {
  margin: 0px;
  overflow-y: scroll;
}
a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a{
  text-decoration: none;
}
.btn{
  font-size: 1.2rem;
  -webkit-appearance: none;
  display: inline-block;
  padding: 17px 30px;
  border: 0;
  border-radius: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  border: 2px solid transparent;
  &:hover{
    color: #fff;
    -webkit-transition: background, color .1s ease-in-out;
    transition: background, color .1s ease-in-out;
  }
  &.btn-green{
    border-color: #00a562;
    color: #00a562;
    color: #00a562;
    border-color: #00a562;
    border-image-source: -webkit-linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
    border-image-source: linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
    border-image-slice: 1;
    background: -webkit-linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
    background: linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover, &.active{
      -webkit-text-fill-color: #fff;
      background: #00d301;
    background: -webkit-linear-gradient(-196deg, #00d301, #36c275 50%, #00a562);
    background: -webkit-linear-gradient(164deg, #00d301, #36c275 50%, #00a562);
    background: linear-gradient(286deg, #00d301, #36c275 50%, #00a562);
    border-color: transparent;
    border-image-source: linear-gradient(286deg, #00d301, #36c275 50%, #00a562)
    }
  }
  &.btn-grey{
    border-color: #999;
    color: #999;
    &:hover{
      background-color:  #f1f1f1;
    }
  }

  &.btn-login{
    padding: 12px 0px;
    text-align: center;
    width: 140px;
    white-space: nowrap;
  }
  
}


.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-column-gap: 20px;
  grid-template-columns: 12% auto;
  grid-template-rows: 127px auto 110px;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer footer";
  background-color: #fff;
  color: #444;
    .sidebar {
      grid-area: sidebar;
      height:calc(100%);
        position: fixed; 
        display: grid;
        grid-template-rows: 90px auto;
        top: 0;
        box-sizing: border-box;
        width: 12%;
        padding: 20px 30px !important;
        .logo{
          display: grid;
          a{
            background: url(/assets/images/logo.png);
            width: 80px;
            height: 60px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        .menu{
          display: grid;
          grid-template-rows:8% auto 5% 25%;
          grid-gap: 10px;

        .login{
         
        }
          .main-menu{
            font-weight: 200;
            font-family: Roboto, sans-serif;
            display: grid;
            grid-gap: 0.1rem;
            grid-auto-rows: 3rem;
            align-items: center;
            li{
              font-size: 1.8rem;
              line-height: 1.5;
              a{
                text-decoration: none;
                color: #777;
                &:hover{
                  color: #00a562;
                }
              }
              &.extra-crunch{
                a{
                  &:hover{
                    color: #dca946;
                  }
                }
              }
            }
          }

          .trending-menu{
            font-family: Roboto, sans-serif;
            li{
              
            font-size: 1rem;
            line-height: 1.95;
            font-weight: 700;
              a{
                text-decoration: none;
                color: #00a562;
              }
            }
          }
          .search-cta{
            display: grid;
            align-items: center;
            grid-auto-rows: auto;
            p{
              font-family: Roboto, sans-serif;
              a{
                display: grid;
                grid-template-columns: 40% auto;
                text-decoration: none;
                color: #111;
                font-size: 1.25rem;
                font-weight: 700;
                
                  span{
                    &:nth-child(1){
                      display: grid;
                      padding: 3px 0px;
                    }
                    &:nth-child(2){
                      display: grid;
                      .fa-search{
                        -webkit-text-stroke:1.5px white;
                        font-size: 1rem;
                        color:#585858;
                      }
                    }
                  }
                
              }
            }
          }
        }
    }
    
    .main {
      grid-area: main;
      box-sizing: border-box;
      height: calc(100%);
      display: grid;
      grid-template-columns: 79% auto;
      grid-template-areas:
        "content_area side_ad";
        grid-column-gap: .8rem;
        .content_area{
          grid-area: content_area;
          box-sizing: border-box;
          display: grid;
          grid-auto-rows: auto;
          overflow: hidden;
          .featured_posts{
            display: grid;
            grid-template-columns: 65% 35%;
            grid-gap: 10px;
            .featured_active{
              padding: 20px 25px;
              h2{
                font-size: 2.8rem;
                line-height: 3rem;
              }
              img{
                max-width:820px;
                width:100%;
              }
              
            }
            .featured_list{
              padding: 20px 10px;
              .featured_rows{
                display: grid;
                grid-auto-rows: auto;
                grid-gap: 18px;
                article{
                  border-bottom: 2px solid #f1f1f1;
                  padding-bottom: 20px;
                  h2{
                    font-size: 1.8rem;
                    font-weight: 900;
                    line-height: 2rem;
                    a{
                      color: #000;
                    }
                  }
                  &:last-child{
                    border:0
                  }
                }
              }
            }
          }

          .posts{
            display: grid;
            grid-template-rows: 3rem auto;
            grid-gap: 1rem;
            padding: 0px 25px;
            .section_header{
              border-bottom: 2px solid #f1f1f1;;
              h2{
                font-family: Roboto, sans-serif;
                font-size: 1.4em;
                font-weight: 500;
                line-height: 1.6rem;
                color:#000;
              }
            }
            .articles{
              display: grid;
              grid-auto-rows: auto;
              grid-gap: 1rem;
              overflow: hidden;
              article{
                display: grid;
                grid-template-columns: 33.3% 33.3% 33.3%;
                border-bottom: 2px solid #f1f1f1;
                font-family: Roboto, sans-serif;
                padding: 25px 0px;
                .info{
                  display: grid;
                  grid-template-rows: auto 20%;
                  .time_author{
                    display: grid;
                    grid-template-rows: 1fr 2fr;
                    grid-gap: .4rem;
                  }
                }
                .excerpt{
                  p{
                    color: #777;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    font-weight: 400;
                  }
                }
                &:last-child{
                  border: 0;
                }
              }
            }

            .load_more_section{
              
              margin-bottom: 8rem;
              .load_more{
                font-size: 2.2rem;
                color: #00a562;
                line-height: 2rem;
                font-family: Roboto,sans-serif;
                font-weight: 900;
                text-align: center;
                border-top: 2px solid #f1f1f1;
                padding: 1em 0;
                width: 100%;
                -webkit-transition: background-color .2s ease;
                transition: background-color .2s ease;
                background-color: transparent;
                display: grid;
                span{
                  
                  background: #00d301;
                  background: -webkit-linear-gradient(11deg,#00d301,#36c275 50%,#00a562);
                  background: linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
                  color: transparent;
                  background-clip: text;
                  -webkit-background-clip: text;
                  text-fill-color: transparent;
                  -webkit-text-fill-color: transparent;
                }
                &:hover{
                  background: #f1f1f1;
                }
              }
            }
          }
          article{
              font-family: Roboto, sans-serif;
              display: grid;
              grid-auto-rows: auto;
              grid-gap: 12px;
            h2{
              font-size: 2.2rem;
              font-weight: 900;
              line-height: 2.4rem;
              a{
                color: #000;
              }
            }
            p.author{
              a{
                font-size:.96rem;
                font-family:Roboto,sans-serif;
                font-weight: 700;
                color: #333;
                &:hover{
                  color:#00a562;
                }
              }
            }
            &:hover{
              opacity: 0.6;
            }
          }
          .image{
            background: url(https://techcrunch.com/wp-content/uploads/2019/01/DSC00078-e15474239761731.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 230px;
              img{
                max-width: 500px;
              width:100%;
              }
            
          }
        }

        .side_ad{
            grid-area: side_ad;
            box-sizing: border-box;
            .top{
              font-family: Roboto, sans-serif;
              font-weight: 900;
              padding: 10px 0;
              a{
                text-decoration: none;
                display: grid;
                grid-auto-rows: auto;
                grid-row-gap: 9px;
                .event{
                  font-size: 2.8rem;
                  background: #00d301;
                  background: -webkit-linear-gradient(11deg,#00d301,#36c275 50%,#00a562);
                  background: linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
                  -webkit-background-clip: text;
                  text-fill-color: transparent;
                  -webkit-text-fill-color: transparent;
                }
                .info{
                  font-size: 2.6rem;
                  color:#000;
                  padding-bottom: 20px;
                }
                .location-date{
                  display: grid;
                  grid-row-gap: .35rem;
                  .location{
                    color: #00a562;
                    font-size: 1.2rem;
                  }
                  .date{
                    color: #777;
                    font-size: 1rem;
                    font-weight: 300;
                  }
                }
              }
            }

            .bottom{
              padding: 10px 0;
              position: fixed;
              bottom: 0;
              -webkit-transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
              transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
              transition: transform .4s ease, top .4s ease, height .4s ease;
              transition: transform 0.4s ease, top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
              &.scrolled-bottom{
                bottom: 13%;
                transform: translate(0);
              }
            }
        }
    }
    
    .header {
      grid-area: header;
      display: grid;
      align-content: center;
      justify-content: center;
      background: #fff;
      border-bottom: 2px solid #f1f1f1;
      box-sizing: border-box;
      position: sticky;
      top: 0;
      padding: 10px 0px;
      -webkit-transition: top .4s ease,height .4s ease,-webkit-transform .4s ease;
        transition: top .4s ease,height .4s ease,-webkit-transform .4s ease;
        transition: transform .4s ease,top .4s ease,height .4s ease;
        transition: transform .4s ease,top .4s ease,height .4s ease,-webkit-transform .4s ease;
    }
    .footer {
      grid-area: footer;
      background-color: #f1f1f1 !important;
      box-sizing: border-box;
      height: calc(12vh);
      position: sticky;
      bottom: 0;
      -webkit-transform: translateY(150%);
        transform: translateY(150%);
      -webkit-transition: top .4s ease, height .4s ease, -webkit-transform .4s ease;
      transition: top .4s ease, height .4s ease, -webkit-transform .4s ease;
      transition: transform .4s ease, top .4s ease, height .4s ease;
      transition: transform .4s ease, top .4s ease, height .4s ease, -webkit-transform .4s ease;
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 240px auto;
      justify-content: left;
      grid-template-areas:
      "..... footermenu"
      "..... copyright";
      .footer-menu{
        grid-area: footermenu;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 30px;
        align-items: end;
        justify-content: left;
        li{
          font-family: Roboto, sans-serif;
          font-size: .9rem;
          font-weight: 700;
          a{
            color: #000;
            border-bottom: 1px solid transparent;
            -webkit-transition: color, border-color .2s linear;
            transition: color, border-color .2s linear;
            text-decoration: none;
            &:hover{
              border-bottom-color:#000;
            }
          }
        }
      }
      .copyright{
        grid-area: copyright;
        display: grid;
        align-items: center;
        justify-content: left;
        p{
          font-family: Roboto, sans-serif;
          font-weight: 300;
          font-size: .875rem;
          color: #777;
        }
      }
    }
    
    
    
    .box {
      
      font-size: 100%;
    }
    
    .position-fixed {
      -webkit-transform: translateY(-150%);
        transform: translateY(-150%);
    }
    
    .footer-fixed {
    transform: translate(0);
    }

 
}

@media (max-width: 1400px){
  .wrapper{
    grid-template-columns: 18% auto;
  .main{
    .content_area{
      .featured_posts{
        .featured_active{
          h2{
            font-size: 2.2rem;
            line-height: 2.4rem;
          }
        }
        .featured_rows{
          article{
            h2{
              font-size: 1.4rem !important;
              line-height: 1.6rem !important;
            }
            &:nth-child(3){
              border: 0;
            }
            &:last-child{
              display: none;
            }
          }
        }
      }
      .posts{
        .articles{
          article{
            
            .excerpt{
             p{
              font-size: 1rem !important;
              line-height: 1.4rem !important;
             }
            }
            .info{
              grid-template-rows: 80% 20%;
              h2{
                font-size: 1.6rem !important;
                line-height: 1.8rem !important;
            
              }
            }
            .image{
              min-height: 180px;
            }
          }
          
        }
      }
    }
    .side_ad{
      .top{
        .event{
          font-size: 2rem !important;
        }
        .info{
          font-size: 1.6rem !important;
        }
      }
    }
  }
  }
}
