body {
  margin: 0px;
  overflow-y: scroll;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 12% auto;
  grid-template-rows: 90px auto 110px;
  grid-template-areas: "sidebar header" "sidebar main" "footer footer";
  background-color: #fff;
  color: #444;
}
.wrapper .sidebar {
  grid-area: sidebar;
  height: calc(100%);
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 12%;
}
.wrapper .sidebar .logo {
  display: grid;
}
.wrapper .sidebar .logo a {
  background: url(/assets/images/logo.png);
  width: 80px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: center;
}
.wrapper .main {
  grid-area: main;
  box-sizing: border-box;
  height: calc(100%);
  display: grid;
  grid-template-columns: 85% auto;
  grid-template-areas: "content_area side_ad";
}
.wrapper .main .content_area {
  grid-area: content_area;
  box-sizing: border-box;
}
.wrapper .main .side_ad {
  grid-area: side_ad;
  box-sizing: border-box;
}
.wrapper .header {
  grid-area: header;
  background-color: #999 !important;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  -webkit-transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform .4s ease,top .4s ease,height .4s ease;
  transition: transform 0.4s ease, top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
}
.wrapper .footer {
  grid-area: footer;
  background-color: #b9b857 !important;
  box-sizing: border-box;
  height: calc(10vh);
  position: sticky;
  bottom: 0;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  -webkit-transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform .4s ease, top .4s ease, height .4s ease;
  transition: transform 0.4s ease, top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
}
.wrapper .box {
  padding: 20px;
  font-size: 150%;
}
.wrapper .position-fixed {
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}
.wrapper .footer-fixed {
  transform: translate(0);
}
