body {
  margin: 0px;
  overflow-y: scroll;
}
.sidebar {
  grid-area: sidebar;
  height: calc(90vh);
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 12%;
}
.content {
  grid-area: content;
  box-sizing: border-box;
  height: calc(100%);
}
.header {
  grid-area: header;
  background-color: #999 !important;
  box-sizing: border-box;
  height: calc(10vh);
  position: sticky;
  top: 0;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  -webkit-transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform .4s ease,top .4s ease,height .4s ease;
  transition: transform 0.4s ease, top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
}
.footer {
  grid-area: footer;
  background-color: #b9b857 !important;
  box-sizing: border-box;
  height: calc(10vh);
  position: sticky;
  bottom: 0;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  -webkit-transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform .4s ease, top .4s ease, height .4s ease;
  transition: transform 0.4s ease, top 0.4s ease, height 0.4s ease, -webkit-transform 0.4s ease;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 12% auto;
  grid-template-rows: 110px auto 110px;
  grid-template-areas: "sidebar header" "sidebar content" "footer footer";
  background-color: #fff;
  color: #444;
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
.position-fixed {
  transform: translate(0);
}
